/* Variables */

:root {
  --section-title-top-spacing: 120px;
  --left-gutter: 30px;
}

body {
  color: #000000;
  background: #ffffff;
  font-size: 16px;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*  */

@media screen and (max-width: 768px) {
  :root {
    --section-title-top-spacing: 20px;
  }
}

@media screen and (max-width: 480px) {
}
