.main {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.page-container {
  width: 100vw;
  display: flex;
}

.mobile-container {
  display: none;
}

.mobile-menu-container {
  display: none;
}

.page-container section {
  position: relative;
  flex: 1;
}

.top-item-container {
  height: 3.125rem;
}

.top-item-container ul {
  padding: 0;
}

.top-item-container ul li {
  list-style-type: none;
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
}

.page-container section:nth-child(2),
.page-container section:nth-child(3) {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4.0625rem 0 4.0625rem 5.3125rem;
}

.image-container {
  position: relative;
}

.image-container img {
  transform: scaleX(-1);
}

.title-box,
.image-container {
  height: 15.625rem;
}

.title-box h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 28.8px;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
}

.title-box h2 {
  font-family: "Source Serif 4", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  max-width: 70px;
  margin: 4px 0 0 0;
}

.page-container a {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-left: 0.625rem;
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .page-container {
    flex-direction: column;
  }

  .page-container section:first-child {
    display: none;
  }

  .page-container section:nth-child(2),
  .page-container section:nth-child(3) {
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
  }

  .title-box,
  .image-container {
    height: 100px;
  }
}

@media screen and (max-width: 480px) {
  .page-container {
    display: none;
  }

  .mobile-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px red solid;
  }
}
