.main {
  height: 100vh;
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
}

.grid__friends-pic {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 9;
}

.grid__cities-container {
  grid-column-start: 10;
  grid-row-start: 2;
  font-size: 1rem;
  font-style: italic;
}

.grid__title-container {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 6;
}

.grid__title-container h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
}

.grid__title-container h2 {
  font-family: "Source Serif 4", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  max-width: 4.375rem;
  margin: 0.25rem 0 0 0;
}

.grid__car-pic {
  position: relative;
  transform: scaleX(-1);
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 7;
}

.grid__menu {
  grid-column-start: 10;
  grid-row-start: 7;
  display: flex;
  align-items: flex-end;
}

.grid__menu a {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-left: 10px;
  color: inherit;
  text-decoration: none;
}

.grid__menu a a:hover {
  text-decoration: underline;
}

.arrow-icon-one {
  grid-column-start: 6;
  grid-row-start: 2;
  display: flex;
}

.circle-icon {
  grid-column-start: 6;
  grid-row-start: 7;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 480px) {
  .grid__car-pic {
    display: none;
  }
}
