.page-container {
  display: flex;
  flex: 1;
}

.text-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 80px;
}

.title-container {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}

.h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.img-content {
  flex: 1.5;
  position: relative;
}

.paragraph {
  padding-top: 50px;
  padding-bottom: 40px;
  font-family: "Source Serif 4", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.35rem;
}

.quote {
  font-family: "Inter", sans-serif;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .page-container {
    flex-direction: column-reverse;
  }

  .title-container {
    margin-top: 15px;
  }

  .title-container img {
    display: none;
  }

  .text-content {
    flex: 1;
    padding: 0 1rem;
  }

  .img-content {
    flex: 1;
    height: 300px;
  }
}
