.main {
  display: flex;
  flex: 1;
}

.content-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-left: var(--left-gutter);
  padding-right: 9.375rem;
}

.title-container {
  margin-top: var(--section-title-top-spacing);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title-container img {
  transform: rotate(90deg);
  margin-left: 1.25rem;
}

.img-section {
  flex: 1.5;
  position: relative;
}

.paragraph {
  padding-top: 3.125rem;
  padding-bottom: 2.5rem;
  font-family: "Source Serif 4", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
}

.quote {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

@media screen and (max-width: 768px) {
  .paragraph {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 690px) {
  .main {
    flex-direction: column-reverse;
    padding-top: 3.75rem;
  }

  .title-container {
    margin-top: 1.875rem;
  }

  .title-container img {
    display: none;
  }

  .content-section {
    padding: 1rem;
  }
  .text-content {
    flex: 1;
    padding: 0 1rem 1rem 1rem;
  }

  .img-content {
    flex: 1;
  }
}
