.main {
  height: 100vh;
  display: flex;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
}

.left-pic {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 9;
  background-color: blue;
  background-image: url();

  /* background-image: url("../../public/assets/home__image_1.png"); */
}

.cities {
  grid-column-start: 10;
  grid-row-start: 2;
  /* background-color: aqua; */
  font-size: 1rem;
  font-style: italic;
}

.collectif {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 6;
  /* background-color: grey; */
}
.collectif .title {
  font-size: 1.125rem;
}
.collectif .quote {
  max-width: 4.375rem;
}

.right-pic {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 7;
  background-color: aqua;
}

.enter {
  grid-column-start: 10;
  grid-row-start: 7;
  background-color: violet;
  display: flex;
  justify-content: flex-end;
}
