.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 300px 0 300px;
  /* border: 1px red solid; */
}

.title-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-top: var(--section-title-top-spacing);
  /* border: 1px red solid; */
}

.contact-title {
  font-family: "Source Serif 4", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 12px;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* border: 1px red solid; */
}

.contacts-container div {
  width: 250px;
}

.img-content {
  position: relative;
  height: 350px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 16px;
  }

  .img-content {
    height: 100%;
  }
  .img-content img {
    height: 100%;
  }

  .contacts-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    margin-bottom: 20px;
  }

  .contacts-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 16px;
  }
}
