.page-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 100px 0 100px;
}

.title-container {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  margin-top: var(--section-title-top-spacing);
}

.contact-title {
  font-family: "Source Serif 4", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 12px;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
  text-align: center;
}

.contacts-container div {
  width: 250px;
}

.img-content {
  position: relative;
  height: 350px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .page-container {
    flex-direction: column;
    padding: 16px;
  }

  .contacts-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    margin-bottom: 20px;
  }

  .contacts-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 16px;
  }
}
