.page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--left-gutter);
  margin-top: var(--section-title-top-spacing);
}

.news-container {
  display: flex;
  gap: 70px;
  padding-top: 12px;
}

.img-section {
  flex: 1.5;
  background: lightskyblue;
  position: relative;
}

@media screen and (max-width: 768px) {
  .page-container {
    flex-direction: column-reverse;
  }

  .text-section {
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .page-container {
    flex-direction: column-reverse;
  }
}
