.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.left-section {
  width: 440px;
  padding-left: var(--left-gutter);
}

.right-section {
  width: calc(100vw - 440px);
  display: flex;
  padding-top: var(--section-title-top-spacing);
}

.section-title-container {
  margin-top: var(--section-title-top-spacing);
}

.buttons-container {
  display: flex;
  padding: 1rem 0;
  justify-content: flex-start;
}

.content-btn {
  all: unset;

  border-radius: 4px;
  background: black;
  color: white;

  cursor: pointer;
  padding: 0.4rem;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.buttons-container :not(:first-child) {
  margin-left: 20px;
}

.plays {
  margin-top: 40px;
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  white-space: nowrap;
  cursor: pointer;
  transition: opacity 0.6s ease;
}

.plays ul li:hover > :not(:hover) {
  opacity: 0.2;
}

.selected {
  text-decoration: underline;
}
