.page-container {
  display: flex;
  flex: 1;
  border: 1px violet solid;
}

.content-container {
  display: flex;
  background: violet;
  flex: 2;
}

.list-container {
  background: green;
  flex: 1;
}

.shows-list {
  background: pink;
}
