.nav ol a {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.nav ol a:not(:first-child) {
  margin-left: 1.25rem;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
