.quote {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 3;
  /* background-color: red; */
  /* font-family: "Inter"; */
  font-size: 1.8rem;
  font-style: italic;
  text-align: center;
}

.big-quote {
  line-height: 50px;
  font-size: 80px;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 7;
  background-color: green;
}

.zone-e {
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 7;
  background-color: aqua;
}
.zone-f {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  background-color: aqua;
}

.zone-g {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 8;
  background-color: aqua;
}
.zone-h {
  grid-column-start: 9;
  grid-row-start: 8;
  background-color: aqua;
}

.cities {
  grid-column-start: 10;
  grid-row-start: 2;
  background-color: aqua;
}

.collectif {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 6;
  background-color: grey;
}

.right-pic {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 7;
  background-color: aqua;
}

.enter {
  grid-column-start: 10;
  grid-row-start: 7;
  /* grid-row-end: 9; */
  background-color: violet;
  background-image: url();
}
