.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.content-top {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-top img {
  transform: rotate(90deg);
  margin-top: 16px;
}

.content-middle {
  display: flex;
  height: 400px;
  padding-left: 30px;
}

.large-title-container {
  display: flex;
  align-items: center;
  flex: 1.5;
}

.img-container {
  position: relative;
  width: 40%;
}

.content-bottom {
  padding-left: 30px;
  height: 65px;
  display: flex;
  align-items: center;
  /* border: 1px red solid; */
  justify-content: "center";
}

/* .img-container{
  margin-left: ;


} */

/* FONT STYLES */

.large-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 80px;
  font-size: 70px;
  text-transform: uppercase;
}

.small-title {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}

.copyright {
  font-family: "Source Serif 4", serif;
}

@media screen and (max-width: 768px) {
  .page-container {
    margin-left: 0;
  }

  .content-middle {
    flex-direction: column-reverse;
    padding-left: 0;
  }

  .img-container {
    width: 100%;
  }

  .large-title-container {
    text-align: center;
  }

  .content-bottom {
    justify-content: center;
  }

  .content-bottom img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .page-container {
    margin-left: 0;
  }

  .large-title-container {
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .large-title {
    font-size: 25px;
    line-height: 25px;
    text-align: center;
  }

  .small-title {
    font-size: 14px;
  }

  .content-middle {
    flex-direction: column-reverse;
  }

  .img-container {
    position: relative;
    width: 100%;
    flex: 2;
  }

  .content-bottom {
    justify-content: center;
    padding-left: 0;
  }

  .content-bottom img {
    display: none;
  }
}
