.zone-a {
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 9;
  background: green;
}
.zone-b {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  /* grid-row-end: 9; */
  background: green;
}
.zone-c {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 8;
  background: green;
}

.zone-d {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
  background: green;
}
