.container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 30px;

  font-family: "Inter", sans-serif;
}

.date-city {
  font-weight: 800;
  font-size: 14px;
}

.place {
  font-weight: 600;
  font-size: 14px;
}

.description {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
}
