.slider {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  overflow: hidden;
}

.slider-content {
  display: block;
  width: 100%;
}

.nav-content {
  display: flex;
  align-items: center;
}

.slider-image {
  width: 100%;
  height: auto;
}

.slider-image img {
  width: 100%;
  height: auto;
}

.left-arrow,
.right-arrow {
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  z-index: 1;
}

.nav-content {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-disable {
  visibility: hidden;
}

.dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: black;
}
