.main {
  height: 100vh;
  display: flex;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.nav {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: blue;
}

.logo {
  grid-column-start: 6;
  grid-column-end: 8;
  background-color: blue;
}

.zone-a {
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 9;
  background: red;
}
.zone-b {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  /* grid-row-end: 9; */
  background: red;
}
.zone-c {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
  background: red;
}

.zone-d {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;
  background: red;
}
